---
layout: default
---
<center>
<div class="row " style="position:relative; left:30%">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" style="border-radius:25%" alt="Photo of Chris Ault"/>
      </a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-bio">{{ site.subtitle }}</p>
    </div>
</div>
</div>
</center>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vST4ojTIRDa20_mVLoPAzj76tQpH-REFf2P0D2XRI-XTuiIZk9j18tbyDFOtF1aeREOkIUgUJ1-TPIF/pub" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" style="width: 100%; height:18in ;"></iframe>