---
layout: default
---
<center>
<div class=" " style="position:relative;">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" style="border-radius:25%" alt="Photo of Chris Ault"/>
      </a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-bio">{{ site.subtitle }}</p>
    </div>
</div>
</div>
<div class="col-lg-8">
  {% pdf "https://www.chris-ault.rocks/resume.pdf" %}
</div>

</center>
